In [1]:
import pandas as pd
import numpy as np
import time

In [8]:
df = pd.read_excel('all-registrations-dec18-jan12.xlsx', parse_dates=["DateTime"])
df = df.dropna()
df['count'] = 1
df.set_index('DateTime',inplace=True)
df.head()

                     count
DateTime
2019-12-18 00:22:02      1
2019-12-18 00:28:15      1
2019-12-18 00:32:55      1
2019-12-18 00:38:23      1
2019-12-18 01:00:56      1

In [9]:
hours = df.index.hour
print(hours[:10])
date = df.index.date
print(date[:10])

Int64Index([0, 0, 0, 0, 1, 1, 1, 2, 2, 2], dtype='int64', name='DateTime')
[datetime.date(2019, 12, 18) datetime.date(2019, 12, 18)
 datetime.date(2019, 12, 18) datetime.date(2019, 12, 18)
 datetime.date(2019, 12, 18) datetime.date(2019, 12, 18)
 datetime.date(2019, 12, 18) datetime.date(2019, 12, 18)
 datetime.date(2019, 12, 18) datetime.date(2019, 12, 18)]

In [10]:
df.groupby([date,hours])["count"].count()

            DateTime
2019-12-18  0           4
            1           3
            2           5
            3           3
            4           2
                       ..
2020-01-11  16          9
            17          7
            18          3
            19          4
            20          1
Name: count, Length: 596, dtype: int64

In [11]:
df2 = df.resample("H")["count"].count()

In [15]:
df2.to_csv('hourly-registrations-dec18-jan12.csv')

/anaconda3/envs/prophet/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [12]:
df2

DateTime
2019-12-18 00:00:00    4
2019-12-18 01:00:00    3
2019-12-18 02:00:00    5
2019-12-18 03:00:00    3
2019-12-18 04:00:00    2
                      ..
2020-01-11 16:00:00    9
2020-01-11 17:00:00    7
2020-01-11 18:00:00    3
2020-01-11 19:00:00    4
2020-01-11 20:00:00    1
Freq: H, Name: count, Length: 597, dtype: int64